body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background: #f7f7f7;
}

button:hover {
  opacity: 0.9;
  transform: scale(1.03);
  transition: 0.2s;
}

a:hover {
  text-decoration: underline;
}
